<template>
  <div>
    Driver {{ $route.params.id }}
  </div>
</template>

<script>
import db from "@/config/firestore";

export default {
name: "Index",
  async mounted() {
    await this.getDriverInformation()
  },
  computed:{
  },
  data:()=>({
    driverInformation:[]
  }),
  methods:{
    async getDriverInformation() {
      const querySnapshot = await db.collection(
          `drivers/${this.$route.params.id}`
      ).get()
      querySnapshot.forEach(
          a=> {
            this.driverInformation.push({
              id: a.id,
              ...a.data()
            })
          }
      )
    }
  }
}
</script>

<style scoped>

</style>
