<template>
  <v-row>
    <v-col>
      <router-view></router-view>
      <v-overlay absolute :value="loading">
        <v-progress-circular
            indeterminate
            size="64"
        ></v-progress-circular>
      </v-overlay>
    </v-col>
    <v-col  v-if="isAuthenticated&&!isAnonymous" cols="12">
      <v-btn color="success" absolute @click="closeSession()">
        <v-icon >fas fa-power-off</v-icon>
        Cerrar Sesión</v-btn>
    </v-col>
  </v-row>
</template>

<script>
import {mapGetters, mapState} from "vuex";
import firebaseAuth from "@/config/firebase-auth";
export default {
  computed:{
    ...mapState("auth",{
      loading: "loading"
    }),
    ...mapGetters("auth",{
      isAuthenticated: "isAuthenticated",
      isAnonymous: "isAnonymous",
    })
  },
  methods:{
    closeSession(){
      firebaseAuth.signOut().then(a => {
        this.$router.push({name:"AdminLogin"})
        console.log(a)

      }).catch(function(error) {
        // An error happened.
      });

    }
  }
}
</script>

<style scoped>

</style>
