<template>
    <v-row
            align="center"
            justify="center"
    >
        <v-col >
            <PublicBusTracking></PublicBusTracking>
        </v-col>
    </v-row>
</template>

<script>
// @ is an alias to /src
import PublicBusTracking from "@/components/PublicBusTracking";

export default {
  name: 'Home',
  components: {
    PublicBusTracking
  }
}
</script>
