<template>
    <v-row
            align="center"
            justify="center"
    >
        <v-col cols="10">
            <SettingsCard/>
        </v-col>
    </v-row>
</template>

<script>
    import SettingsCard from "../components/SettingsCard";

    export default {
        name: "Settings",
        components: {SettingsCard},

    }
</script>

