<template>
  <v-card
      max-width="344"
  >
    <v-list-item three-line>
      <v-list-item-content>
        <v-list-item-title>ID: {{bus.id}}</v-list-item-title>
        <v-list-item-subtitle>Placa: {{bus.plate}}</v-list-item-subtitle>
      </v-list-item-content>

      <v-list-item-avatar
          tile
          size="80"
      >
        <v-icon>
          fas fa-bus
        </v-icon>
      </v-list-item-avatar>
    </v-list-item>
    <v-card-actions>
      <slot></slot>
    </v-card-actions>
  </v-card>
</template>
<script>
export default {
  name: 'BusListItem',
  props:{
    bus:{}
  }
}
</script>
