<template>
<v-card >
  <v-tooltip right>
    <template v-slot:activator="{ on, attrs }">
      <v-btn    v-bind="attrs"
                v-on="on"
                :loading="loading" color="gray" icon @click="getLocation">
        <v-icon>fas fa-crosshairs</v-icon>
      </v-btn>
    </template>
    <span>Mi ubicación</span>
  </v-tooltip>

</v-card>
</template>

<script>
export default {
  name: 'GPSUbicationMap',
  props: {
  },
  data:()=>({
    loading: false
  }),
  mounted() {
    this.getLocation()
  },
  methods: {
    async getLocation() {
      if (navigator) {
        this.loading = true
        await navigator.geolocation.getCurrentPosition(this.showPosition)

      }
    },
    showPosition (position) {
      this.$emit('input', [(position.coords.latitude), (position.coords.longitude)])
      this.loading = false
    }
  }
}
</script>

<style scoped>

</style>
