<template>
  <v-autocomplete
      :loading="loading"
      :items="schedules"
      v-model="schedule"
      label="Selecciona el horario programado"
      placeholder="Hora de inicio"
      item-value="id"
      item-text="scheduledStartTime"
      return-object
      dense>
  </v-autocomplete>
</template>

<script>
import db from "@/config/firestore";

export default {
name: "SelectBusRouteSchedule",
  props:{
    value: null,
    route: null
  },
  data:()=>({
    schedules:[],
    loading:false,
    schedule:null
  }),
  watch:{
    async route(newValue) {
      this.loading=true
      const querySchedules = await db.collection("routes").doc(newValue.id).collection("schedules").get()
      this.schedules=[]
      querySchedules.forEach(
          async (doc) => {
            const docBus = await doc.data().assignedBus.get()
            const docDriver = await doc.data().assignedDriver.get()
            const dataBus = {...docBus.data(), id: docBus.id, ref:  doc.data().assignedBus}
            const dataDriver = {...docDriver.data(), id: docDriver.id, ref: doc.data().assignedDriver}
            this.schedules.push( {
              id: doc.id,
              ... doc.data(),
              assignedBus: dataBus,
              assignedDriver: dataDriver
            })
          }
      )
      this.loading=false
    },
    schedule(newValue){
      this.$emit("input",newValue)
    }
  }
}
</script>

<style scoped>

</style>
