<template>
  <v-row>
    <v-col>
      <v-card-title>
        Administración de Buses
      </v-card-title>
      <busses-list :busses="busses">
        <template #default="{item}">
          <v-card-actions>
            <v-btn outlined :to="`routes/${item.id}`">
              Ver Historial
            </v-btn>
          </v-card-actions>
        </template>
      </busses-list>
      <v-btn @click="addBus">Agregar Bus</v-btn>
    </v-col>
  </v-row>
</template>

<script>
import AddRoute from "@/components/UpdateRoute";
import BussesList from "@/components/BusList";
import db from "@/config/firestore";
import firebase from "firebase";
export default {
  components: {BussesList, AddRoute},
  data:()=>({
    busses:[]
  }),
  async created() {
    await this.getBusses()
  },
  methods:{
    async getBusses() {
      const querySnapshot = await db.collection("busses").get()
      querySnapshot.forEach(
         a=> {
           this.busses.push({
             id: a.id,
             ...a.data()
           })
          }
      )
    },
    addBus(){

    }
  }
}
</script>

<style scoped>

</style>
