<template>
  <v-container>
    <v-card-title>
      Administración de Conductores
    </v-card-title>
    <v-row>

      <v-col
          v-for="driver in drivers"
          :key="driver.id"
          cols="12"
          sm="6"
          md="4"
      >
        <DriverInformationCard :driver="driver"/>
      </v-col>
      <v-col>
        <v-btn>Añadir Conductor</v-btn>
      </v-col>
    </v-row>

  </v-container>
</template>

<script>
import db from "@/config/firestore";
import DriverInformationCard from "@/components/DriverInformationCard";

export default {
  name: "Drivers",
  components: {DriverInformationCard},
  data: () => ({
    drivers: []
  }),
  async created() {
    await this.getDrivers()
  },
  methods: {
    async getDrivers() {
      const querySnapshot = await db.collection("drivers").get()
      querySnapshot.forEach(
          a => {
            this.drivers.push({
              id: a.id,
              ...a.data()
            })
          }
      )
    }
  }
}
</script>

