<template>
  <v-app id="inspire">
    <v-navigation-drawer
        v-model="drawer"
        app
        clipped
    >
      <v-list dense>
        <v-list-item to="/" link>
          <v-list-item-action>
            <v-icon>fa-chalkboard</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Dashboard</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item to="/settings" link>
          <v-list-item-action>
            <v-icon>fa-cog</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Settings</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
        app
        clipped-left
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"/>
      <v-toolbar-title>BusTrack UNI</v-toolbar-title>
    </v-app-bar>

    <v-main>
      <v-container
      >
        <router-view/>
      </v-container>
    </v-main>
    <v-snackbar top right  v-model="updateExists" :timeout="-1" color="primary">
      Hay una versión
      <v-btn text @click="refreshApp">
        Actualizar
      </v-btn>
    </v-snackbar>
    <v-footer>
      <span>&copy; 2020</span>
    </v-footer>
  </v-app>
</template>

<script>
import update from "./mixins/update";
import firebaseAuth from "@/config/firebase-auth";

export default {
  name: 'app',
  data: () => ({
    drawer: null,
  }),
  mixins: [update],
  async created() {
    await firebaseAuth.onAuthStateChanged((user) => {
      this.$store.commit("auth/setUser", user)
      if(this.$store.getters["auth/isAuthenticated"]&&!this.$store.getters["auth/isAnonymous"]){
        console.log(
            this.$router.push({name: this.$store.state.auth.to}))
      }else {
        this.$store.dispatch("auth/signInAnonymously")
      }
    });
  },
  async mounted() {
    if (localStorage.key("darkMode")) {
      let darkMode = localStorage.getItem("darkMode")
      this.$vuetify.theme.dark = JSON.parse(darkMode)
    }
  }

}
</script>
